In [364]:
import pandas as pd

In [365]:
database_txo = pd.read_csv('dataset/database_txo_btc.csv')
database_txo

,blockchain,amount_coin,amount_usd,hash,from_to,id,date,price,change24h_pct
0,BTC,25.855240,1049919.00,Multiple Hashes,unknown-unknown,1.830259e+09,2022-04-18 17:57:00,40779.01,1.32
1,BTC,72.911870,2960775.20,b32ffb4b25f2fb2c29f4c27dee13dd7933f88a82dadaba...,unknown-unknown,1.830257e+09,2022-04-18 17:57:38,40758.56,1.28
2,BTC,24.716250,1005312.50,Multiple Hashes,unknown-unknown,1.830261e+09,2022-04-18 18:02:00,40800.37,1.46
3,BTC,13.998356,570126.80,Multiple Hashes,unknown-unknown,1.830263e+09,2022-04-18 18:03:00,40792.03,1.41
4,BTC,25.000000,1018203.10,5eb22899029a45588c395ff8b5968da1be5359df81b3f1...,exchange-unknown,1.830261e+09,2022-04-18 18:03:05,40792.03,1.41
...,...,...,...,...,...,...,...,...,...
176,BTC,175.374250,7267944.50,0e06fe34228b79e06f4091204002af92eb1122218b6bc2...,NaN,NaN,NaN,NaN,NaN
177,BTC,12.799736,527057.44,Multiple Hashes,unknown-unknown,1.830835e+09,2022-04-19 21:11:00,41498.14,1.33
178,BTC,15.737922,648043.75,c1f7253bfbbcb197f587bf707ff874ccf02e5a4d82f7c4...,unknown-unknown,1.830833e+09,2022-04-19 21:11:03,41498.14,1.33
179,BTC,15.379989,642487.30,2630d45e485f42e464fcf84fd9acfabd4ba690f2f2bb59...,exchange-exchange,1.830835e+09,2022-04-19 21:17:20,41414.85,1.16
180,BTC,77.143510,3193794.20,e0fed201d5ff65bd77746f6b0da04810e9ce4c90d417f1...,unknown-unknown,1.830841e+09,2022-04-19 21:46:24,41400.23,1.15

In [366]:
# Looking for NaN on the dataset.
# counting the number of NaN for each feature.
database_txo.isna().sum()

blockchain       0
amount_coin      0
amount_usd       0
hash             0
from_to          3
id               3
date             3
price            3
change24h_pct    3
dtype: int64

In [367]:
database_txo =  database_txo.dropna()
database_txo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 178 entries, 0 to 180
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   blockchain     178 non-null    object
 1   amount_coin    178 non-null    float64
 2   amount_usd     178 non-null    float64
 3   hash           178 non-null    object
 4   from_to        178 non-null    object
 5   id             178 non-null    float64
 6   date           178 non-null    object
 7   price          178 non-null    float64
 8   change24h_pct  178 non-null    float64
dtypes: float64(5), object(4)
memory usage: 13.9+ KB

In [368]:
database_txo.isna().sum()

blockchain       0
amount_coin      0
amount_usd       0
hash             0
from_to          0
id               0
date             0
price            0
change24h_pct    0
dtype: int64

In [369]:
database_txo['from_to'] = database_txo['from_to'].astype('string')
database_txo['blockchain'] = database_txo['blockchain'].astype('string')
database_txo['hash'] = database_txo['hash'].astype('string')
database_txo['date'] = database_txo['date'].astype('datetime64[ns]')

/tmp/ipykernel_12692/722664305.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  database_txo['from_to'] = database_txo['from_to'].astype('string')
/tmp/ipykernel_12692/722664305.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  database_txo['blockchain'] = database_txo['blockchain'].astype('string')
/tmp/ipykernel_12692/722664305.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  database_txo['hash'] = database_txo['hash'].astype('string')
/tmp/ipykernel_12692/722664305.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  database_txo['date'] = database_txo['date'].astype('datetime64[ns]')

In [370]:
database_txo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 178 entries, 0 to 180
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   blockchain     178 non-null    string
 1   amount_coin    178 non-null    float64
 2   amount_usd     178 non-null    float64
 3   hash           178 non-null    string
 4   from_to        178 non-null    string
 5   id             178 non-null    float64
 6   date           178 non-null    datetime64[ns]
 7   price          178 non-null    float64
 8   change24h_pct  178 non-null    float64
dtypes: datetime64[ns](1), float64(5), string(3)
memory usage: 13.9 KB

In [371]:
df_amount_usd_fromto = database_txo.drop(columns=['blockchain','hash','id'])
df_amount_usd_fromto

,amount_coin,amount_usd,from_to,date,price,change24h_pct
0,25.855240,1049919.00,unknown-unknown,2022-04-18 17:57:00,40779.01,1.32
1,72.911870,2960775.20,unknown-unknown,2022-04-18 17:57:38,40758.56,1.28
2,24.716250,1005312.50,unknown-unknown,2022-04-18 18:02:00,40800.37,1.46
3,13.998356,570126.80,unknown-unknown,2022-04-18 18:03:00,40792.03,1.41
4,25.000000,1018203.10,exchange-unknown,2022-04-18 18:03:05,40792.03,1.41
...,...,...,...,...,...,...
175,14.224320,589491.10,unknown-unknown,2022-04-19 21:07:00,41546.07,1.21
177,12.799736,527057.44,unknown-unknown,2022-04-19 21:11:00,41498.14,1.33
178,15.737922,648043.75,unknown-unknown,2022-04-19 21:11:03,41498.14,1.33
179,15.379989,642487.30,exchange-exchange,2022-04-19 21:17:20,41414.85,1.16
180,77.143510,3193794.20,unknown-unknown,2022-04-19 21:46:24,41400.23,1.15

In [373]:
df_amount_usd_fromto.max()

amount_coin                   1500.0
amount_usd                61746570.0
from_to              unknown-unknown
date             2022-04-19 21:46:24
price                       41668.35
change24h_pct                   6.05
dtype: object