In [107]:
import pandas as pd

In [108]:
database_txo = pd.read_csv('dataset/database_txo_btc.csv')
database_txo

,blockchain,amount_coin,amount_usd,hash,from_to,id,date,price,change24h_pct
0,BTC,25.855240,1049919.00,Multiple Hashes,unknown-unknown,1.830259e+09,2022-04-18 17:57:00,40779.01,1.32
1,BTC,72.911870,2960775.20,b32ffb4b25f2fb2c29f4c27dee13dd7933f88a82dadaba...,unknown-unknown,1.830257e+09,2022-04-18 17:57:38,40758.56,1.28
2,BTC,24.716250,1005312.50,Multiple Hashes,unknown-unknown,1.830261e+09,2022-04-18 18:02:00,40800.37,1.46
3,BTC,13.998356,570126.80,Multiple Hashes,unknown-unknown,1.830263e+09,2022-04-18 18:03:00,40792.03,1.41
4,BTC,25.000000,1018203.10,5eb22899029a45588c395ff8b5968da1be5359df81b3f1...,exchange-unknown,1.830261e+09,2022-04-18 18:03:05,40792.03,1.41
...,...,...,...,...,...,...,...,...,...
276,BTC,16.562350,680634.25,Multiple Hashes,unknown-unknown,1.831222e+09,2022-04-20 12:46:00,41257.07,-0.56
277,BTC,54.675735,2246914.50,9c3b2ce9f66df2803b45eaffcfb68b5e280771c06e28c3...,unknown-unknown,1.831219e+09,2022-04-20 12:46:55,41253.43,-0.58
278,BTC,35.099014,1437819.90,7c59a3e755060be871a5b2618e5ad4543140e1bed048da...,unknown-unknown,1.831222e+09,2022-04-20 12:50:55,41291.09,-0.42
279,BTC,27.507679,1136397.10,Multiple Hashes,unknown-unknown,1.831229e+09,2022-04-20 13:09:00,41142.65,-0.80
280,BTC,54.664474,2258298.50,0844abaaec859af19ab9c76c3aec4ac61eacd65e564188...,unknown-unknown,1.831227e+09,2022-04-20 13:09:23,41142.65,-0.80

In [109]:
# Looking for NaN on the dataset.
# counting the number of NaN for each feature.
database_txo.isna().sum()

blockchain       0
amount_coin      0
amount_usd       0
hash             0
from_to          6
id               6
date             6
price            6
change24h_pct    6
dtype: int64

In [110]:
database_txo =  database_txo.dropna()
database_txo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 275 entries, 0 to 280
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   blockchain     275 non-null    object
 1   amount_coin    275 non-null    float64
 2   amount_usd     275 non-null    float64
 3   hash           275 non-null    object
 4   from_to        275 non-null    object
 5   id             275 non-null    float64
 6   date           275 non-null    object
 7   price          275 non-null    float64
 8   change24h_pct  275 non-null    float64
dtypes: float64(5), object(4)
memory usage: 21.5+ KB

In [111]:
database_txo.isna().sum()

blockchain       0
amount_coin      0
amount_usd       0
hash             0
from_to          0
id               0
date             0
price            0
change24h_pct    0
dtype: int64

In [112]:
database_txo['from_to'] = database_txo['from_to'].astype('string')
database_txo['blockchain'] = database_txo['blockchain'].astype('string')
database_txo['hash'] = database_txo['hash'].astype('string')
database_txo['date'] = database_txo['date'].astype('datetime64[ns]')

/tmp/ipykernel_14249/722664305.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  database_txo['from_to'] = database_txo['from_to'].astype('string')
/tmp/ipykernel_14249/722664305.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  database_txo['blockchain'] = database_txo['blockchain'].astype('string')
/tmp/ipykernel_14249/722664305.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  database_txo['hash'] = database_txo['hash'].astype('string')
/tmp/ipykernel_14249/722664305.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  database_txo['date'] = database_txo['date'].astype('datetime64[ns]')

In [113]:
database_txo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 275 entries, 0 to 280
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   blockchain     275 non-null    string
 1   amount_coin    275 non-null    float64
 2   amount_usd     275 non-null    float64
 3   hash           275 non-null    string
 4   from_to        275 non-null    string
 5   id             275 non-null    float64
 6   date           275 non-null    datetime64[ns]
 7   price          275 non-null    float64
 8   change24h_pct  275 non-null    float64
dtypes: datetime64[ns](1), float64(5), string(3)
memory usage: 21.5 KB

In [114]:
df_amount_usd_fromto = database_txo.drop(columns=['blockchain','hash','id'])
df_amount_usd_fromto

,amount_coin,amount_usd,from_to,date,price,change24h_pct
0,25.855240,1049919.00,unknown-unknown,2022-04-18 17:57:00,40779.01,1.32
1,72.911870,2960775.20,unknown-unknown,2022-04-18 17:57:38,40758.56,1.28
2,24.716250,1005312.50,unknown-unknown,2022-04-18 18:02:00,40800.37,1.46
3,13.998356,570126.80,unknown-unknown,2022-04-18 18:03:00,40792.03,1.41
4,25.000000,1018203.10,exchange-unknown,2022-04-18 18:03:05,40792.03,1.41
...,...,...,...,...,...,...
276,16.562350,680634.25,unknown-unknown,2022-04-20 12:46:00,41257.07,-0.56
277,54.675735,2246914.50,unknown-unknown,2022-04-20 12:46:55,41253.43,-0.58
278,35.099014,1437819.90,unknown-unknown,2022-04-20 12:50:55,41291.09,-0.42
279,27.507679,1136397.10,unknown-unknown,2022-04-20 13:09:00,41142.65,-0.80
280,54.664474,2258298.50,unknown-unknown,2022-04-20 13:09:23,41142.65,-0.80

In [117]:
from_tos = list(df_amount_usd_fromto['from_to'].unique())

for ifrom_to in from_tos:
    df_amount_coin = df_amount_usd_fromto[['amount_coin','date']].loc[df_amount_usd_fromto['from_to'] == f'{ifrom_to}']
    df_amount_usd = df_amount_usd_fromto[['amount_usd','date']].loc[df_amount_usd_fromto['from_to'] == f'{ifrom_to}']
    amount_coin = dict(df_amount_coin.max())
    amount_usd = dict(df_amount_usd.max())
    coins = amount_coin['amount_coin']
    txo_coins_date = amount_coin['date']
    usds = amount_usd['amount_usd']
    print(f'txo: {ifrom_to} -> maximum amount:  {coins} BTC ($ {usds}) USD - date: {txo_coins_date})')

txo: unknown-unknown -> maximum amount:  15012.626 BTC ($ 627993700.0) USD - date: 2022-04-20 13:09:23)
txo: exchange-unknown -> maximum amount:  254.99 BTC ($ 10592450.0) USD - date: 2022-04-20 11:24:36)
txo: exchange-exchange -> maximum amount:  258.41254 BTC ($ 10619077.0) USD - date: 2022-04-20 12:39:10)
txo: unknown-exchange -> maximum amount:  1500.0 BTC ($ 61746570.0) USD - date: 2022-04-20 11:02:46)