In [84]:
import pandas as pd

In [85]:
pd.__version__

'1.3.3'

In [86]:
database_txo = pd.read_csv('dataset/database_txo.csv')
database_txo

,Unnamed: 0,blockchain,amount_coin,amount_usd,hash,from_to,id,date
0,0,USDT,613416.6,613416.6,a161c7f5daefaa211f1eefd3b6862f99b3d176e057b64a...,unknown-unknown,1788121177,2022-01-25 15:25:07
1,1,USDT,1999965.0,1999965.0,91c7da3d09d66c220eaa40c38a516060918f98f7f18a0d...,unknown-exchange,1788121386,2022-01-25 15:26:10