In [1]:
import pandas as pd

In [2]:
database_txo = pd.read_csv('../dataset/database_txo_btc.csv')
database_txo

,blockchain,amount_coin,amount_usd,hash,from_to,id,date,price,change24h_pct
0,BTC,208.038060,8433485.00,7fb5628921718446500602cfab0fdb5b704741b0fbe274...,exchange-exchange,1.831896e+09,2022-04-21 20:51:58,40535.09,-2.04
1,BTC,17.647198,710611.06,Multiple Hashes,unknown-unknown,1.831903e+09,2022-04-21 21:07:00,40435.25,-2.56
2,BTC,17.686884,712209.10,202ca8f94a0f1b34809742355d477f34db1ab57e8c2537...,unknown-unknown,1.831902e+09,2022-04-21 21:07:39,40451.85,-2.49
3,BTC,34.498154,1389159.20,fe5c35effc83f3e9670b885e1d1cf92615a95c9d191013...,exchange-exchange,1.831903e+09,2022-04-21 21:09:07,40451.85,-2.49
4,BTC,66.734460,2712317.50,4880c24733d70c1b3c7ef3003b1d9d9779b69c6213508b...,unknown-unknown,1.831907e+09,2022-04-21 21:26:25,40632.54,-2.11
...,...,...,...,...,...,...,...,...,...
94,BTC,145.000000,5832309.00,f1c122da705e8c6014f877f48324f82a253d86ea287b91...,exchange-unknown,1.832223e+09,2022-04-22 11:28:19,39948.97,-6.31
95,BTC,177.527630,7046114.50,0b668ada16de63c44341db566ecfe5235595b1d41bc782...,unknown-unknown,1.832238e+09,2022-04-22 12:11:57,39912.78,-6.23
96,BTC,14.100000,557338.40,b5d38bc174ab1dbcddb454f9416f0d819af7dcc2aacc42...,exchange-exchange,1.832243e+09,2022-04-22 12:26:28,39785.55,-6.19
97,BTC,25.676401,1027042.40,34ebd9189c6165e02f9b6391d324e08aba06cd56e555a9...,exchange-exchange,1.832249e+09,2022-04-22 12:38:32,39540.18,-6.42
98,BTC,43.115936,1711838.00,6dbd5e150ce0f2e55dcb691858675fd5a4304e4aa375f5...,unknown-unknown,1.832251e+09,2022-04-22 12:42:43,39476.24,-6.45

In [3]:
# Looking for NaN on the dataset.
# counting the number of NaN for each feature.
database_txo.isna().sum()

blockchain       0
amount_coin      0
amount_usd       0
hash             0
from_to          5
id               5
date             5
price            5
change24h_pct    5
dtype: int64

In [4]:
database_txo =  database_txo.dropna()
database_txo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 94 entries, 0 to 98
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   blockchain     94 non-null     object
 1   amount_coin    94 non-null     float64
 2   amount_usd     94 non-null     float64
 3   hash           94 non-null     object
 4   from_to        94 non-null     object
 5   id             94 non-null     float64
 6   date           94 non-null     object
 7   price          94 non-null     float64
 8   change24h_pct  94 non-null     float64
dtypes: float64(5), object(4)
memory usage: 7.3+ KB

In [5]:
database_txo.isna().sum()

blockchain       0
amount_coin      0
amount_usd       0
hash             0
from_to          0
id               0
date             0
price            0
change24h_pct    0
dtype: int64

In [6]:
database_txo['from_to'] = database_txo['from_to'].astype('string')
database_txo['blockchain'] = database_txo['blockchain'].astype('string')
database_txo['hash'] = database_txo['hash'].astype('string')
database_txo['date'] = database_txo['date'].astype('datetime64[ns]')

/tmp/ipykernel_235203/722664305.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  database_txo['from_to'] = database_txo['from_to'].astype('string')
/tmp/ipykernel_235203/722664305.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  database_txo['blockchain'] = database_txo['blockchain'].astype('string')
/tmp/ipykernel_235203/722664305.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  database_txo['hash'] = database_txo['hash'].astype('string')
/tmp/ipykernel_235203/722664305.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  database_txo['date'] = database_txo['date'].astype('datetime64[ns]')

In [7]:
database_txo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 94 entries, 0 to 98
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   blockchain     94 non-null     string
 1   amount_coin    94 non-null     float64
 2   amount_usd     94 non-null     float64
 3   hash           94 non-null     string
 4   from_to        94 non-null     string
 5   id             94 non-null     float64
 6   date           94 non-null     datetime64[ns]
 7   price          94 non-null     float64
 8   change24h_pct  94 non-null     float64
dtypes: datetime64[ns](1), float64(5), string(3)
memory usage: 7.3 KB

In [8]:
df_amount_usd_fromto = database_txo.drop(columns=['blockchain','hash','id'])
df_amount_usd_fromto

,amount_coin,amount_usd,from_to,date,price,change24h_pct
0,208.038060,8433485.00,exchange-exchange,2022-04-21 20:51:58,40535.09,-2.04
1,17.647198,710611.06,unknown-unknown,2022-04-21 21:07:00,40435.25,-2.56
2,17.686884,712209.10,unknown-unknown,2022-04-21 21:07:39,40451.85,-2.49
3,34.498154,1389159.20,exchange-exchange,2022-04-21 21:09:07,40451.85,-2.49
4,66.734460,2712317.50,unknown-unknown,2022-04-21 21:26:25,40632.54,-2.11
...,...,...,...,...,...,...
94,145.000000,5832309.00,exchange-unknown,2022-04-22 11:28:19,39948.97,-6.31
95,177.527630,7046114.50,unknown-unknown,2022-04-22 12:11:57,39912.78,-6.23
96,14.100000,557338.40,exchange-exchange,2022-04-22 12:26:28,39785.55,-6.19
97,25.676401,1027042.40,exchange-exchange,2022-04-22 12:38:32,39540.18,-6.42
98,43.115936,1711838.00,unknown-unknown,2022-04-22 12:42:43,39476.24,-6.45

In [9]:
from_tos = list(df_amount_usd_fromto['from_to'].unique())

for ifrom_to in from_tos:
    df_amount_coin = df_amount_usd_fromto[['amount_coin','date']].loc[df_amount_usd_fromto['from_to'] == f'{ifrom_to}']
    df_amount_usd = df_amount_usd_fromto[['amount_usd','date']].loc[df_amount_usd_fromto['from_to'] == f'{ifrom_to}']
    amount_coin = dict(df_amount_coin.max())
    amount_usd = dict(df_amount_usd.max())
    coins = amount_coin['amount_coin']
    txo_coins_date = amount_coin['date']
    usds = amount_usd['amount_usd']
    print(f'txo: {ifrom_to} -> maximum amount:  {coins} BTC ($ {usds}) USD - date: {txo_coins_date})')

txo: exchange-exchange -> maximum amount:  208.03806 BTC ($ 8433485.0) USD - date: 2022-04-22 12:38:32)
txo: unknown-unknown -> maximum amount:  2500.7043 BTC ($ 101850024.0) USD - date: 2022-04-22 12:42:43)
txo: exchange-unknown -> maximum amount:  145.0 BTC ($ 5832309.0) USD - date: 2022-04-22 11:28:19)
txo: unknown-exchange -> maximum amount:  22.1039 BTC ($ 896026.0) USD - date: 2022-04-22 05:23:58)

In [10]:
#import os
#from whalealert.whalealert import WhaleAlert
#import time
#
#whale = WhaleAlert()

In [11]:

#api_key = os.environ['api_key_whale']
#transaction_count_limit = 1
#start_time = int(time.time() - 600)
#success, transactions, status = whale.get_transactions(start_time, api_key=api_key, limit=transaction_count_limit)
#transactions